<!DOCTYPE html>
<html>
<head>
	<title>ATM On Line</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
</head>
<body style="background:url('../../static/image/bg1.jpg');">
	<div class="top" align="center">
		<div class="page-header">
			<h1>Welcome!!!</h1>
		</div>
		<h2>Thank you for using ATM self-service.</h2>
	</div>
	<div class="form_body">
		<div class="page-header">
    		<h2>Enter your information</h2>
		</div>
		<form role="form" class="form-horizontal" id="form" method="post" action="/UserServlet?action=main">
		<div class="form-group">
		<label for="card" class="col-sm-3 control-label">user name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="card" name="card"
			   		placeholder="please input your name">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">password:</label>
			<div class="col-sm-9">				
				<input type="password" class="form-control" name="password" id="password" 
					placeholder="please input your password">
			</div>
		</div>
		<div class="form-group">
    		<div class="col-sm-offset-3 col-sm-1">
      			<button type="button" class="btn btn-default" id="login">enter</button>
    		</div>
  		</div>
		</form>
	</div>
</body>
<script>
    $('#login').on("click", function () {
        var card = $('#card').val();
        var password = $('#password').val();
        $.ajax({
            url:'/UserServlet',
            type:'POST',
            data:{
                action:'login',
                card:card,
                password:password
            },
            dataType:'json',
            success:function (data) {
                if (data.success) {
                    $('#form').submit();
                } else {
                    alert(data.msg)
                }

            },
            error:function () {
                alert('登录出现异常')
            }
        })
    })

</script>
</html>