.top{
	margin:0 auto;
	margin-top: 3%;
	padding-top: 1%;
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
	width: 50%;
	height: 180px;
	background: rgba(173,216,230,1);
}
.form_body{
	margin: 0 auto;
	width: 50%;
	padding-right:  10%;
	padding-left: 10%;
	padding-top: 1%;
	padding-bottom: 3%;	
	text-align: center;			
	background: rgba(255,255,248,0.8);	
}